@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #fff;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    padding-bottom: 10px;
}

#produtos {
    width: 98vw;
    border: 1px solid rgba(128, 151, 144, 0.678);
}

#produtos tbody tr:nth-child(odd) {
    background-color: rgb(218, 218, 218);
}

#produtos td:nth-child(odd) {
    min-width: 200px;
    padding-left: 10px;
}

.inputValue {
    background-color: transparent;
    border: none;
    text-align: center;
    width: 120px;
}

#btnGerarLista {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    background-color: rgba(128, 151, 144, 0.678);
    margin-top: 10px;
}